@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a small ASP.NET Web App, with the application of calendar, reportviewer, and more <br />
    is a small inventory management system, to show the ASP.NET basics and as a good starting <br />
    to start developing your own web application</p>
