@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Just a little bit of help for those who wants to make their own Inventory Management<br />
    following this project as a template.<br />

    This program was built with MVC ASP.NET on VS2019, using the following nugets:<br />
    <ul>
        <li>NewtonSoft.Json Ver 12.0.2 By James Newton-King</li>
        <li>Microsoft.Reporting.Services.ReportViewerControl.WebForms Ver 15.0.0.0 By Microsoft</li>
        <li>JQuery.UI.Combined Ver 1.13.2 By jQuery UI Team</li>
        <li>JQuery Ver 3.4.1 By jQuery Foundation</li>
    </ul>
    I Hope This help anyone who wants to start practicing with MVC ASP.NET.
</p>